In [1]:
import numpy as np
import pandas as pd

In [21]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

In [17]:
dataset = pd.read_csv('all_stocks_5yr.csv', na_values= '?')

In [18]:
dataset

              date   open   high    low  close    volume Name
0       2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1       2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2       2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3       2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4       2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL
...            ...    ...    ...    ...    ...       ...  ...
619035  2018-02-01  76.84  78.27  76.69  77.82   2982259  ZTS
619036  2018-02-02  77.53  78.12  76.73  76.78   2595187  ZTS
619037  2018-02-05  76.64  76.92  73.18  73.83   2962031  ZTS
619038  2018-02-06  72.74  74.56  72.13  73.27   4924323  ZTS
619039  2018-02-07  72.70  75.00  72.69  73.86   4534912  ZTS

[619040 rows x 7 columns]

# Preprocesamiento

# Imputación de valores perdidos

Determinar las columnas que son nulas

In [19]:
#Funcion que devuelve una lista con valores True en las posiciones que corresponde a columnas nulas
def determinar_valores_perdidos(dataset, nombreColumnas):
    resultados_por_columnas = []
    for nombre in nombreColumnas:
        res = dataset[nombre].isnull().values.any()
        resultados_por_columnas.append(res)
    return resultados_por_columnas

In [20]:
nombreColumnas = ['date', 'open', 'high', 'low', 'close','volume','Name']
res = determinar_valores_perdidos(dataset, nombreColumnas)
res

[False, True, True, True, False, False, False]

Por tanto , las columnas nulas son open, high y  low